<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/css/main.css">
   </head>
<header>
   <div id="top-header">
      <!-- logo -->
      <div id="logo">
         <img src="images/logo_edited.png">
      </div>
   </div>
</header>
<body>
   <h3>Database details:</h3>
   <table>
    <colgroup>
        <col span="1" class="parameter"/>
        <col span="1" class="value"/>
    </colgroup>
    <tr>
        <th scope="col">Parameter</th>
        <th scope="col">Value</th>
    </tr>
    DATA 
    <!-- todo: figure out best way to map this in -->
    <!-- <tr><td>param</td><td>val</td></tr> -->
   </table>
   <form action="/" method="GET"> <button type="submit"> Return </button> </form>
</body>
</html>